.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

}

.form-row:last-of-type {
    margin-bottom: 0;
    margin-top: 20px;
}

.form-row > label {
    font-size: 13px;
    text-transform: uppercase;
    color: #CFCFCF;
}

.form-row > label p {
    color: #CFCFCF;
    text-transform: initial;
    font-size: 9px;
 
}

.input {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    border: none; 
    outline: none;
    border-bottom: 1px solid #F6F6F6;
}

.input::placeholder {
    font-size: 11px;
}