.left-column {
    display: inline-block;
    width: 40%;
    float: left;
    padding: 50px;
    background-color: #63B0DD;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    position: absolute;
    top: 10px;
    bottom: 10px;


}

.title {
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

.footer {
    display: inline-block;
    position: absolute;
    left: 50px;
    right: 30px;
    bottom: 20px;

}

.footer a,
.footer span {
    color: #fff;
    font-size: 14px;
}