body {
    background-color: #63B0DD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.background {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    filter: blur(20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text {
    font-size: 14px;
    line-height: 28px;
    color: #6d6d6d;
}

.mb-10 {
    margin-bottom: 10px;
}